on init && property:ro.boot.product.vendor.sku=pineapple
    enable vendor.spu_weaver

on init && property:ro.boot.product.vendor.sku=sun
    enable vendor.spu_weaver

service vendor.spu_weaver /system/bin/hw/android.hardware.weaver-service-spu-qti
    class early_hal
    user system
    group system drmrpc
    shutdown critical
    seclabel u:r:recovery:s0
